<h1>
  Add a new casebank
</h1>

<hr>

<%= render("casebank_templates/validation_failures.html.erb") %>

<form action="/insert_casebank_record" method="post">
  <div>
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" value="<%= @casebank.title %>">
  </div>

  <div>
    <label for="difficulty">
      Difficulty
    </label>

    <input type="text" id="difficulty" name="difficulty" value="<%= @casebank.difficulty %>">
  </div>

  <div>
    <input id="is_brainstorm" name="is_brainstorm" type="checkbox" <%= "checked" if @casebank.is_brainstorm %>>
    <label for="is_brainstorm">
      Is brainstorm
    </label>
  </div>

  <div>
    <label for="num_exhibits">
      Num exhibits
    </label>

    <input type="text" id="num_exhibits" name="num_exhibits" value="<%= @casebank.num_exhibits %>">
  </div>

  <div>
    <label for="casebook_id">
      Casebook
    </label>

    <input type="text" id="casebook_id" name="casebook_id" value="<%= @casebank.casebook_id %>">
  </div>

  <div>
    <label for="is_math_heavy">
      Is math heavy
    </label>

    <input type="text" id="is_math_heavy" name="is_math_heavy" value="<%= @casebank.is_math_heavy %>">
  </div>

  <div>
    <label for="case_type">
      Case type
    </label>

    <input type="text" id="case_type" name="case_type" value="<%= @casebank.case_type %>">
  </div>

  <div>
    <label for="industry">
      Industry
    </label>

    <input type="text" id="industry" name="industry" value="<%= @casebank.industry %>">
  </div>

  <div>
    <input id="is_interviewer_led" name="is_interviewer_led" type="checkbox" <%= "checked" if @casebank.is_interviewer_led %>>
    <label for="is_interviewer_led">
      Is interviewer led
    </label>
  </div>

  <button>
    Create casebank
  </button>
</form>

<hr>

<a href="/casebanks">
  Go back
</a>
