<h1>
  Cases  list
</h1>

<a href="/new_cases__form">
  Add a new cases 
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Difficulty
    </th>

    <th>
      Is brainstorm
    </th>

    <th>
      Num exhibits
    </th>

    <th>
      Casebook
    </th>

    <th>
      Is math heavy
    </th>

    <th>
      Case type
    </th>

    <th>
      Industry
    </th>

    <th>
      Is interviewer led
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @cases_s.each do |cases_| %>
  <tr>
    <td>
      <%= cases_.id %>
    </td>

    <td>
      <%= cases_.title %>
    </td>

    <td>
      <%= cases_.difficulty %>
    </td>

    <td>
      <%= cases_.is_brainstorm %>
    </td>

    <td>
      <%= cases_.num_exhibits %>
    </td>

    <td>
      <%= cases_.casebook_id %>
    </td>

    <td>
      <%= cases_.is_math_heavy %>
    </td>

    <td>
      <%= cases_.case_type %>
    </td>

    <td>
      <%= cases_.industry %>
    </td>

    <td>
      <%= cases_.is_interviewer_led %>
    </td>

    <td>
      <%= time_ago_in_words(cases_.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(cases_.updated_at) %> ago
    </td>

    <td>
      <a href="/cases_s/<%= cases_.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
