<h1>
  Hello <%=User.where({:id => current_user.id}).pluck(:name).first %>, add a new case log entry below: 
</h1>

<hr>

<%= render("log_templates/validation_failures.html.erb") %>


<form action="/add_case_log_entry">
 
  <div>
       <input type="hidden" id="student_id" name="student_id" value="<%= @student_id %>">
  </div>

   <div class="form-group">
   <label for="case_dropdown">Case Name</label>
      <select id="case_dropdown" name="case_id" >
        <% Casebank.all.order({ :title => :asc }).each do |a_case| %>
          <option value="<%= a_case.id %>">
            <%= a_case.title %>
          </option>
        <% end %>
      </select>

  </div>
  
   <div class="form-group">
    <label for="practice_date">
      Practice Date
    </label>
    <input type="date" id="practice_date" name="practice_date" value=<%=Date.today%>/>
  </div>

   <div class="form-group">
    <label for="given_by">
      Given by
    </label>

    <input type="text" id="given_by" name="given_by" placeholder="Enter a name...">
  </div>

 <div class="form-group">
    <label for="feedback">
      Feedback
    </label>
    <div class="col-sm-6"> 

    <textarea  class="form-control" id="feedback" name="feedback" placeholder="Type in your feedback"></textarea>
    </div>
  </div>

  <button>
    Add case log entry
  </button>
</form>

<hr>

<a href="/case_log">
  Go back
</a>
