<h1>
  <%=User.where({:id => current_user.id}).pluck(:name).first.split.first%>'s Case Log
</h1>

<a class="btn btn-primary" href="/new_log_entry">
  Add a new log entry
</a>

<hr>
<div class="row Table">
  <div class="col-sm-12">

    <table class="table table-hover">
      <thead>
      <tr>
       
        <th>
          Case
        </th>
        
        <th>
          Case Type
        </th>
        
        <th>
          Status
        </th>
    
        <th>
          Given by
        </th>
    
        <th>
          Feedback
        </th>
    
        <th>
          Practice Date
        </th>
        
        <th>
          Actions
        </th>
    
      </tr>
      </thead>
    
      <% @logs.each do |log| %>
      <tr>
        
        <td>
          <%= Casebank.where({:id => log.case_id}).pluck(:title).first %>
        </td>
        
        <td>
          <%= Casebank.where({:id => log.case_id}).pluck(:case_type).first.titleize %>
        </td>
        
        <td>
          <%= if log.given_by == "" then "Wish List"
              elsif log.given_by.nil? then "Wish List"
            else "Completed"
            end%>
        </td>
    
        <td>
          <%= log.given_by %>
        </td>
    
        <td>
          <%= log.feedback %>
        </td>
    
        <td>
          <%= if log.practice_date.nil? then ""
              else log.practice_date.to_formatted_s(:long) 
              end %>
        </td>
        
        <td>
           <a href="/delete_case_log_entry/<%=log.id %>">
              Delete
           </a>
           |
           <a href="/existing_case_log_entry/<%=log.id %>">
              Edit
           </a>
        </td>
    
        </tr>
      <% end %>
    </table>
</div>
</div>